{{ define "title" }}{{ with .Params.Title }}{{ . }} ✿ {{ end }}{{ .Site.Title }}{{ end }}

{{ define "main" }}
<div class="pa3 pa4-ns nested-copy-line-height nested-img nested-list-reset nested-links">
    <span class="dib w-100 tc f3 b">🙝</span>
    <section class="flex-ns flex-wrap justify-around">
        <ul class="pv2">
            {{ range .Paginator.Pages }}
            <li class="cf w-100 ph4">
                <h2 class="f4 f3-l mv2 normal lh-title cf pv0 ph0 flex flex-wrap">
                    <a href="{{ .Permalink }}" class="dib link b athelas mr3">
                        {{ .Title }}
                    </a>
                    <time class="dib f5 tracked normal" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}" style="line-height:2">
                        {{- .Date.Format "January 2, 2006" -}}
                    </time>
                </h2>
            </li>
            {{ end }}
        </ul>
    </section>
    <span class="dib w-100 tc f3 b">❧</span>
    {{- template "_internal/pagination.html" . -}}
</div>
{{ end }}
