{{ define "title" }}{{ with .Params.Title }}{{ . }} – {{ end }}{{ .Site.Title }}{{ end }}

{{ define "main" }}
<div class="pa3 pa4-ns nested-copy-line-height nested-img nested-list-reset nested-links">
    <span class="dib w-100 tc f3 b mb4">🙝</span>
    <section class="flex-ns flex-wrap justify-around">
        <table class="collapse">
            <tbody>
            {{ range .Paginator.Pages }}
                    <tr class="f4 f3-l normal lh-title">
                        <td class="pv1" align="right">
                    <ul class="mv0 dib mr3">
                        {{ range .Params.toolbox }}
                        <li class="list dib ml1">
                            <a href="{{ "/toolbox/" | relLangURL }}{{ . | urlize }}" class="link f7 br3 no-underline ba ph2 pv1 dib courier
                                {{ if (eq . "Kitchen") }}bg-light-pink{{ end }}
                                {{ if (eq . "Work with nature") }}bg-light-green{{ end }}
                                {{ if (eq . "Digital") }}bg-light-blue{{ end }}
                                {{ if (eq . "Personal") }}bg-washed-green{{ end }}
                                {{ if (eq . "Világos") }}bg-light-yellow{{ end }}
                            ">
                                {{- . -}}
                            </a>
                        </li>
                        {{ end }}
                    </ul>
                        </td>
                        <td>
                    <a href="{{ .Permalink }}" class="dib link b athelas mr3">
                        {{ .Title }}
                    </a>
                    <time class="dib f5 tracked normal" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}" style="line-height:2">
                        {{- .Date.Format "January 2, 2006" -}}
                    </time>
                        </td>
            </tr>
                    {{ end }}
                    </table>
    </section>
    <span class="dib w-100 tc f3 b mt4">❧</span>
    <img src="/images/dogs-running.gif" alt="" class="keepitreal center ma4"/>
    {{- template "_internal/pagination.html" . -}}
</div>
{{ end }}
