{{ define "main" }}
<main id="main">
  <header>
  <div class="wrapper">
  <h1>{{ .Title }}</h1>
  {{ if site.Params.search }}
  <input
    id="search"
    type="text"
    placeholder="{{ T "search_placeholder" }}"
    aria-label="{{ T "search_aria_label" }}"
  />
  {{ end }}
  {{ if .Content }}
  <div class="post">
    {{ .Content }}
  </div>
  {{ end }}
  </div>
  </header>
  <ul class="patterns-list" id="list">
    {{ range .Pages.ByLastmod.Reverse }}
    <li>
      <h2>
        <a href="{{ .RelPermalink }}">
          <svg
            class="bookmark"
            aria-hidden="true"
            viewBox="0 0 40 50"
            focusable="false"
          >
            <use xlink:href="#bookmark"></use>
          </svg>
          {{ .Title }}
        </a>
        {{ $langName := cond (eq .Params.Lang "en") "in English" (cond (eq .Params.Lang "hu") "magyarul" (cond (eq .Params.Lang "es") "en español" "yolo")) }}
        {{ if (and (isset .Params "lang") ((not (eq .Params.Lang "en")))) }}
        <span class="lang">{{ $langName }}</span>
        {{ end }}
      </h2>
    </li>
    {{ end }}
  </ul>

  <footer class="center">
    ◈
    ◈
    ◈
  </footer>

</main>
{{ end }}
