{{ define "main" }}
  <main id="main" class="single {{ if $.Param "section" }}wide{{ end }}">

    <h1>
      {{ .Title }}
    </h1>

    {{ partial "toc.html" . }}

    <div class="post">
      {{ .Content }}
    </div>

    <footer>
      <div class="qed center">⛯</div>

      <div class="date">
        {{ $dateFormat := $.Site.Params.dateFormat }}
        {{ $publishDate := .PublishDate }}
        {{ $lastmodDate := .Lastmod }}
        {{ if $publishDate }}
        {{ if (ne $lastmodDate $publishDate) }}
        This entry was last updated on {{ $lastmodDate.Format $dateFormat }} (originally published on {{ $publishDate.Format $dateFormat }}).
        {{ else }}
        This entry was published on {{ $publishDate.Format $dateFormat }}.
        {{ end }}
        {{ end }}
      </div>

      {{ with .Params.tags }}
      <div class="tags">
        It is filed under the

        <ul aria-label="{{ T "aria_label_tags" }}">
          {{ range . }}
          <li>
            {{ $href := print ("tags/" | relLangURL) (. | urlize) "/" }}
            <a href="{{ $href }}">{{ . }}</a>
          </li>
          {{ end }}
        </ul>
        folder(s).
      </div>
      {{ end }}
    </footer>

  </main>
  {{ partial "disqus.html" . }}
{{ end }}
