{{ define "main" }}
  <main id="main">
    <header>
    <h1>{{ .Title }}</h1>
    <div class="post">
      <p>Here's how I categorize my journal entries. I work as a software engineer therefore I write about <a href="digital/">digital technologies and practices</a>. I love to cook and serve food, take a peek at <a href="kitchen/">my kitchen</a>. I enjoy <a href="mixtape/">exploring music</a> and sharing them with friends. I record my journey with <a href="work-with-nature/">Pacha Mama</a>. I share the lessons learned of my <a href="personal/">personal life</a> and publish some <a href="világos/">blog posts</a> in Hungarian too.</p>
    </div>
    </header>
    <section class="index">
    <ul class="patterns-list index-list">
      {{ range .Data.Terms.Alphabetical }}
        <li>
          <h2>
            <a href="{{ .Page.RelPermalink }}">
              {{ .Page.Title }}
            </a>
            ({{ .Count }})
          </h2>
        </li>
      {{ end }}
    </ul>
    </section>
  </main>
{{ end }}
