@charset "UTF-8";

/*
@tailwind base;
@tailwind components;
@tailwind utilities;
*/

@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

@import url('vars.css');

@import url('gutenberg.css');

body {
  --color-background: var(--color-white);
  --color-foreground: var(--color-dark);
  --color-background-secondary: var(--color-gray);
  background-color: var(--color-background);
  color: var(--color-foreground);
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  body {
    --color-background: var(--color-dark);
    --color-foreground: var(--color-white);
    --color-background-secondary: var(--color-dark-gray);
  }
}

img, video {
  height: auto;
  max-width: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  border: .1em solid var(--color-foreground);
}

td, th {
  border: .1em solid var(--color-foreground);
  padding: .5em;
}

a:link, a:link:hover {
  color: blue;
}

a:active {
  color: red;
}

a:visited, a:visited:hover {
  color: purple;
}

@media (prefers-color-scheme: dark) {
  a:link, a:link:hover {
    color: var(--color-purple);
  }

  a:active {
    color: var(--color-lava);
  }

  a:visited, a:visited:hover {
    color: var(--color-lila);
  }
}

h1,h2,h3 {
  font-family: "Rubik Mono One", monospace;
  font-weight: 400;
  font-style: normal;
  word-spacing: -.3em;
  letter-spacing: -.05em;
}

/* Youtube embeds */

.youtube-video-container {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.youtube-video-container::after {
  display: block;
  content: "";
  padding-top: 56.25%;
}

.youtube-video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Post */

.post-meta, .timestamp {
  opacity: .5;
  font-family: monospace;
  margin-left: 1em;
  font-size: 70%;
  line-height: 1;
  white-space: nowrap;
}

.post-article {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  max-width: 100%;
}

.post-content {
  flex-grow: 1;
  margin-bottom: 0;
}


/* Resume */

.resume th, .resume td {
  vertical-align: top;
}

.resume th, .resume td, .resume td * {
  font-size: 13px;
  line-height: 22px!important;
}
