:root {
  --color-white: #ffffff;
  --color-gray: #e6e6ea;
  --color-dark: #19171a;
  --color-dark-gray: #232327;
  --color-sun: #ffbd00;
  --color-water: #1CC5DC;
  --color-deep-water: #023e8a;
  --color-lime: #2aca69;
  --color-purple: #6060ff;
  --color-lila: #ce33dd;
  --color-lava: #c1121f;
}
