{{ $featured_image := .Param "featured_image"}}
{{ $featured_image := (trim $featured_image "/") | absURL }}
{{ if .IsHome }}
{{/* Trimming the slash and adding absURL make sure the image works no matter where our site lives */}}
<header class="cover bg-top" style="background-image: url('{{ $featured_image }}');">
    <div class="{{ .Site.Params.cover_dimming_class | default "bg-black-60" }} cb">
        {{ partial "site-navigation.html" .}}
        <div class="pv4 pv4-l ph3 ph4-ns cb">
            <h1 class="f2 fw5 white-90 mb0 mt0 mt0-l mr4 ml0 lh-title ttu fr">
                {{ .Title | default .Site.Title }}
            </h1>
            {{ with .Content }}
            <div class="fw4 f3 f2-l white-80 measure-wide-l lh-copy mt0 mb4 pb0">
                {{ . }}
            </div>
            {{ end }}
        </div>
        <div class="cb"></div>
    </div>
</header>
{{ else }}
<header class="cover bg-top" style="background-image: url('{{ $featured_image }}');">
    <div class="{{ .Site.Params.cover_dimming_class | default "bg-black-60" }}">
        {{ partial "site-navigation.html" .}}
        <div class="tc-l pv4 pv6-l ph3 ph4-ns">
            <h1 class="f2 f-subheadline-l fw2 white-90 mb0 lh-title">
                {{ .Title | default .Site.Title }}
            </h1>
            {{ with .Params.description }}
            <p class="fw4 f3 f2-l white-80 measure-wide-l center lh-copy mt3 mb4"><span class="text-highlight">
                {{ . }}
                <span></p>
                    {{ end }}
        </div>
    </div>
</header>
{{ end }}

