{{ define "title" }}{{ .Site.Title }}{{ end }}

{{ define "main" }}
<img src="/images/heart.gif" alt="Wonderful bits of the internet" class="fl"/>

<ul class="blogroll">
  <li><a rel="external" href="https://earlyretirementextreme.com/">Early Retirement Extreme 💰</a></li>
  <li><a rel="external" href="https://www.aubreymarcus.com/blogs/aubrey-marcus-podcast">Aubrey Marcus Podcast 🎈</a></li>
  <li><a rel="external" href="https://ourfiniteworld.com/">Our finite world 🌎</a></li>
  <li><a rel="external" href="https://awpeters.info/">Arno Peters 🌱</a></li>
  <li><a rel="external" href="https://planet.emacslife.com/">Planet Emacslife 🤖</a></li>
  <li><a rel="external" href="https://doorofperception.com/">The Door of Perception 🦄</a></li>
  <li><a rel="external" href="https://www.bosqueescondidoarte.com/">Bosque Escondido Arte 🌳</a></li>
  <li><a rel="external" href="http://ihanaremedies.com/">Ihana Remedies 🌿</a></li>
  <li><a rel="external" href="https://forpeoplefornature.com/">Anna &amp; Dave ⛰️</a></li>
  <li><a rel="external" href="https://www.naturalness.pt/">Naturalness 🌿</a></li>
</ul>

{{ end }}
